.buttons_top {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1000;
	top: 0;
}
.buttons_bottom {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1000;
}
