.pause {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);
}
.pause_display {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.pause_header {
	font-size: 15vmin;
	color: red;
}
.pause_seconds {
	font-size: 15vmin;
	color: red;
}
